.btn {
  color:#08233e;
  font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  padding:14px;
  background-color: #10c8cd;
  border:1px solid #00008b;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border-bottom:1px solid #00000f;
  cursor:pointer;
  clear: top;
  text-decoration: none;
  font-size: 20px;
  clear: both;
  transition: 0.5s;
}
.btn2 {
  color:#08233e;
  font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  padding:5px;
  background-color: #10c8cd;
  border:1px solid #00008b;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border-bottom:1px solid #00000f;
  cursor:pointer;
  clear: top;
  text-decoration: none;
  font-size: 16px;
  clear: both;
  transition: 0.5s;
}
.btn:hover {
  background-color: red;
  border-radius: 5px;
}
.btn2:hover {
  background-color: green;
  border-radius: 5px;
}
.throneIMG {
  border: 10px solid green;
  transition: 2s;
}
